body {
    font-family: Arial, sans-serif;
    background-color: grey;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* Centrer horizontalement */
    align-items: center;
    height: 100vh;
    /* Centrer verticalement */
}

.container {
    width: 250px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /* Aligner les éléments verticalement */
}

input,
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}